
body{
    background-color: white;
    color:black
}

#header{
    height:200px;
    width: 100%;
  
}

h1{
    text-align: center;
    color:blue; 
}

#currency-filter{
    width: 300px;
    margin-left: 500px;
    margin-top: 150px;
    padding:5px;
    border: none;
    font-size: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;

}

#search-button{
    color:red;
    padding-left: 5px;
    margin:5px;

}

.widget-display{
    padding-top: 100px;
    height: 300px;
    width: 1000px;
    display: inline-flex;
    margin:15px
}
.widget{
    margin-top:100px;
    height:150px;
    width: 170px;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 2px 3px;
    color:black;
    text-align: center;
    margin:10px;

}

#delete-all{
    margin-left: 816px
}

$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

.sign-in{
  width: 30vw;
  display: flex;
  flex-direction: column;

  .title{
    margin:10px 0px
  }
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
