
body{
    background-color: white;
    color:black
}

#header{
    height:200px;
    width: 100%;
   

}
h1{
    text-align: center;
    color:blue;
    
}

#currency-filter{
    //border: 1px solid black;
    //border-radius: 5px;
    width: 300px;
    margin-left: 500px;
    margin-top: 150px;
    padding:5px;
    border: none;
    font-size: 30px

}

#search-button{
    color:red;
    padding-left: 5px;
    margin:5px;

}

.widget-display{
    padding-top: 100px;
    height: 300px;
    width: 1000px;
    display: inline-flex;
    margin:15px
}
.widget{
    margin-top:100px;
    height:150px;
    width: 170px;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 2px 3px;
    color:black;
    text-align: center;
    margin:10px;

}

#delete-all{
    margin-left: 816px
}